services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
      JWT_SECRET: ${JWT_SECRET}
      #MAIL CONFIGURATION
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_PROTOCOL: ${MAIL_PROTOCOL}
      MAIL_AUTH: ${MAIL_AUTH}
      MAIL_TLS: ${MAIL_TLS}
      #MAIL TEMPLATE CONFIGURATION
      APP_BASE_URL: ${APP_BASE_URL}
      REGISTER_URI: ${REGISTER_URI}
      RESET_PASSWORD_URI: ${RESET_PASSWORD_URI}
      RESET_PASSWORD_TOKEN_EXPIRATION_MINUTES: ${RESET_PASSWORD_TOKEN_EXPIRATION_MINUTES}
      REGISTER_TOKEN_EXPIRATION_DAYS: ${REGISTER_TOKEN_EXPIRATION_DAYS}

    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
  
